* {
    box-sizing: border-box;
/*need comment here next time. Totally forgot why this is here*/
}

head {}

body {
	margin:0;
    padding: 0;
    /*background-color: #000000;*/
	font-family: "Sansita Swashed", Arial, Helvetica;
	/*color:#fc4242 ;*/
}

/*Start of CSS for home.html*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: #ffffff;
    margin-top:-0.5vw;
    padding-left: 1vw;
}

.brand-title {
    font-size: 4vw;
}

.navbar-links ul {
    margin:0;
    padding:0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #ffffff;
    padding: 2vw;
    display: block;
    font-size:2vw;
}

.navbar-links li:hover {
    background-color: #555555;
}

.toggle-button {
    position: absolute;
    top: 1vw;
    right: 1vw;
    display: none;
    flex-direction:column;
    justify-content: space-between;
    width: 7vw;
    height: 6vw;
    z-index: 3;

}

.toggle-button .bar {
    height: 1vw;
    width: 100%;
    background-color: #ffffff;
    border-radius: 3vw;
    z-index: 3;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -999;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -999;
}

@media (max-width: 400px) {
    .toggle-button {
        display: flex;
    }

    .brand-title{
        font-size: 8vw;
    }

    .navbar {
        flex-direction: column;
        /*maybe in future I can align all to right, for easier clicking*/
/*        align-items: flex start; 
*/
    }
    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar-links ul {
        flex-direction: column;
        width:100%;

    }
    .navbar-links li a {
/*        display: none*/
        font-size: 5vw;
        text-align: center;   
    }

    .navbar-links.active {
        display: flex;
    }
}



.overlay {
	padding: 2vw;
    text-align: justify;
    text-justify: inter-character;
    opacity: .8;
    position:relative;
	background: orange;
    color: #ff1100;
	z-index: 1.5;
	overflow: hidden;
    font-size: 1rem;
}

.overlay h2 {
    margin: 0;
    padding: 0;
}

.button-container{
    width:100%;
}

.landing-buttons {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7vw;
    justify-content: space-around;
}

.button {
    background-color: orange;
    border: none;
    padding: 5vw;
    opacity: .8;

}

.button a { 
    text-decoration: none;
    font-family: "Sansita Swashed", Arial, Helvetica;
    font-size: 6vw;
    color: #ff1100;
    }

.button a:visited {
    color:#ff1100;
}

.footer {
    position: fixed;
    bottom: 0vw;
    /*background: #333333;*/
    color: #ffffff;
    width: 100%;
    text-align:center;
    font-size: 4vw;
    opacity: .5
}

@media (min-width: 400px) {
    .button-container {
        display: none;
    }

    .footer {
        font-size: 1.5vw;
    }

    .overlay h1 {
        font-size: 4vw;
        
    }

    .overlay p {
        font-size: 2.5vw;
        margin:0vw;
        padding:0vw;
    }
}

/*End of home.html*/

/*Start of about.html*/

.overlay-for-about {
    padding: 5vw;
    text-align: left;
    /*text-justify: inter-character;*/
    opacity: 1;
    position:relative;
    background: orange;
    color: #ff1100;
    z-index: 1.5;
    overflow: hidden;
    font-size: 1rem;
    /*border-style: solid;*/
}

.overlay-for-about h2 {
    margin: 0vw;
    text-align: left;
}

.profile-pic {
    width: 60%;
    float: left;
    margin: 2vw;
    border-radius: 50%;
}

.logo {
    width: 30%;
    float: left;
    display: inline-flex;
    margin: -4vw 1vw 1vw 1vw;
    border-radius: 50%;
}

@media (min-width: 400px) {

    .profile-pic {
        width: 20%;
    }

    .logo {
        width: 15%;
        float: right;
        display: initial;
        position: relative;
        top: -120px;
    }

    .overlay-for-about h2 {
        font-size: 4vw;
    }

    .overlay-for-about p {
        width: 600px;
        word-wrap: normal;
        font-size: 1.5vw;
    }
}

/*End of about.html*/

/*Start of services.html*/

.layer-for-services {
    background-color: orange;
    position: absolute;
    /*display: inline-block;*/
    top: 5%;
    margin:5%;
    width: 90%;
    height: 70%;
    z-index: -50;
    opacity: .9;
   
}

.overlay-for-services {
    text-align: left;
    color: #ff1100;
}

.overlay-for-services h1 {
    text-align: center;
}

.overlay-for-services h3 {
    margin-left: 10%;
}

@media (min-width: 400px) {

    .overlay-for-services h1 {
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 4vw;
}
    .overlay-for-services h3 {
        font-size: 2vw;
    }

    .overlay-for-services li {
        margin-left: 10%;
        font-size: 1.7vw;
    }


}
/*End of services.html*/

/*Start of contact.html*/
.layer-for-contact {
    background-color: orange;
    position: absolute;
    /*display: inline-block;*/
    top: 5%;
    margin:5%;
    width: 90%;
    height: 70%;
    z-index: -50;
    opacity: .9;
   
}

.overlay-for-contact {
    text-align: left;
    color: #ff1100;
}

.overlay-for-contact h1 {
    text-align: center;
}

@media (min-width: 400px) {
    .overlay-for-contact h1 {
        font-size: 4vw;
    } 
    .overlay-for-contact li {
        margin-left: 10%;
        font-size: 2vw;
    }

}

/*End of contact.html*/